.hide {
    display: none;
}

.card-style {
    background-color: #b6b6b6;

}

.divider-info {
    justify-content: center;
}

#ranked-list-title {
    font-weight: bold;
}

.accordion-item {
    background-color: #3f3f3f;
}

.acc_div_main {
    box-sizing: inline-block;
    height: fit-content;
}

.acc_div_text {
    display: inline-block;
    width: 49%;
    text-align: center;
    border: none;

}

.acc_div_vars {
    display: inline-block;
    width: 49%;
    padding-left: 5px;
}

.clear {
    clear: both;
}

.coin-rank {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.coin-rank:visited {
    color: white;
}

.coin-title {
    font-weight: normal;
}

.accordion-content {
    background-color: #dddddd;
}

.coin-symbol-text,
.coin-price-text,
.coin-24hr-change-text,
.coin-volume-text,
.coin-market-cap-text,
.coin-percent-tbv-text {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
    text-align: right;
    margin: 5px 0;
}

.coin-symbol-value,
.coin-price-value,
.coin-24hr-change-value,
.coin-volume-value,
.coin-market-cap-value,
.coin-percent-tbv-value {
    font-size: 1.1rem;
    font-style: normal;
    text-align: left;
    display: block;
    margin: 5px 0;
}

.span_negative {
    color: white;
    background-color: red;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}

.span_positive {
    color: white;
    background-color: green;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}