.hide {
    display: none;
}

body {
    background-color: transparent;
    font-family: 'Karla', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.title-menu-container {
    border-bottom: 3px solid transparent;;
}

.page-title-name a {
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

#menu-dd {
    margin: 0;
    border-radius: 5px;
}

.home {
    border-radius: 5px;
}

.card-style {
    background-color: transparent;
    border: none;
}

.divider-info {
    justify-content: center;
    background-color: transparent;
}

#ranked-list-title,
.onecoin-title
.onecoin-rank {
    font-weight: bold;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.accordion-item {
    background-color:rgb(30, 51, 73);
}

.coin-rank {
    font-weight: bold;
    font-size: 1.25rem;
}

.coin-rank:visited {
    color: white;
    background-color: rgb(102, 102, 102);
}

.coin-title {
    font-weight: normal;
}

.accordion-content-pos {
    background-color: rgb(112, 153, 111);
}

.accordion-content-neg {
    background-color: rgb(138, 88, 88);
}

.onecoin-main-div,
.onecoin-text-div,
.onecoin-vars-div {
    padding: 1rem 1rem 1rem 0;
}

.acc_div_main,
.onecoin-main-div {
    height: fit-content;
    align-content: center;
}

.acc_div_text,
.onecoin-text-div {
    display: inline-block;
    width: 49%;
    border: none;
    padding-left: 0;
    vertical-align: top; 
    color: white;
}

.acc_div_vars,
.onecoin-vars-div {
    display: inline-block;
    width: 49%;
    border: none;
    padding-right: 0;
    vertical-align: top;
    color: white;
}

.onecoin-text-div {
    width: 60%;
}

.onecoin-vars-div {
    width: 39%;
    padding-left: 1rem;
}

.clear {
    clear: both;
}

.coin-symbol-text,
.coin-price-text,
.coin-24hr-change-text,
.coin-volume-text,
.coin-market-cap-text,
.coin-percent-tbv-text,
.onecoin-text {
    font-size: 1.1rem;
    font-style: italic;
    text-align: right;
    margin: 5px 0;
    display: block;
    font-weight: bold;
    word-wrap: break-word;
}

.coin-symbol-value,
.coin-price-value,
.coin-24hr-change-value,
.coin-volume-value,
.coin-market-cap-value,
.coin-percent-tbv-value,
.onecoin-value {
    font-size: 1.1rem;
    font-style: normal;
    text-align: left;
    margin: 5px 0;
    display: block;
    word-wrap: break-word;
}

.span_negative {
    color: white;
    background-color: red;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}

.span_positive {
    color: white;
    background-color: green;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(0.25turn,#af430d,#af0d28, #af940d, #0d79af );
      background-size: 400% 400%;
      animation: slidein 10s ease-in-out;
      animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  select {
background-color: transparent;
  }