.hide {
    display: none;
}

body {
    background-color: rgb(14, 28, 39);
}

.title-menu-container {
    border-bottom: 3px solid rgb(97, 216, 0);
    margin-bottom: 20px;
}

.page-title-name a {
    color: rgb(97, 216, 0);
    text-decoration: none;
}

#currency-name,
#currency-rank,
.section-info,
.historical-trades,
.tickers-title {
    color: rgb(218, 218, 218);
}

.card-style {
    background-color: rgb(14, 28, 39);
    border: none;
}

.divider-info {
    justify-content: center;
    background-color: rgb(14, 28, 39);
}

#ranked-list-title {
    font-weight: bold;
    color: rgb(218, 218, 218);
}

.accordion-item {
    background-color: rgb(14, 28, 39);
}

.coin-rank {
    font-weight: bold;
    font-size: 1.25rem;
}

.coin-rank:visited {
    color: rgb(218, 218, 218);
    background-color: rgb(97, 216, 0);
}

.coin-title {
    font-weight: normal;
}

.acc_div_main {
    height: fit-content;

}

.acc_div_text {
    display: inline-block;
    width: 49%;
    border: none;
    padding-left: 0;
    vertical-align: top; 
}

.acc_div_vars {
    display: inline-block;
    width: 49%;
    border: none;
    padding-right: 0;
    vertical-align: top;
}

.clear {
    clear: both;
}

.accordion-content {
    background-color: rgb(218, 218, 218);
}

.coin-symbol-text,
.coin-price-text,
.coin-24hr-change-text,
.coin-volume-text,
.coin-market-cap-text,
.coin-percent-tbv-text {
    font-size: 1.1rem;
    font-style: italic;
    text-align: right;
    margin: 5px 0;
    display: block;
    font-weight: bold;
    word-wrap: break-word;
}

.coin-symbol-value,
.coin-price-value,
.coin-24hr-change-value,
.coin-volume-value,
.coin-market-cap-value,
.coin-percent-tbv-value {
    font-size: 1.1rem;
    font-style: normal;
    text-align: left;
    margin: 5px 0;
    display: block;
    word-wrap: break-word;
}

.span_negative {
    color: rgb(218, 218, 218);
    background-color: red;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}

.span_positive {
    color: rgb(218, 218, 218);
    background-color: green;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
}